html, body {
    margin: 0;
    padding: 0;
    font-size: 1em;
    background: #efefef;
}

*{
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 30px;
    position: fixed;
    left: 0;
    top: 0;
    background: #6a6264;
    border-bottom: 1px black solid;
}

header img {
    display: inline-block;
    margin-top: -1px;
}

#menu-open {
    position: fixed;
    top: -1px;
    right: 5px;
    cursor: pointer;
}

#menu-open div {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 5px 0;
    border-radius: 6px;
}

#menu-close {
    position: fixed;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#menu-close div  {
    width: 20px;
    height: 4px;
    background: white;
    border-radius: 5px;
    position: fixed;
    top: 13px;
    right: 5px;
}

#menu-close div:first-child {
    transform: rotateZ(45deg);
}

#menu-close div:last-child {
    transform: rotateZ(-45deg);
}
