html, body {
    margin: 0;
    padding: 0;
    font-size: 1em;
    background: #efefef;
    font-family: Arial, sans-serif;
}

*{
    box-sizing: border-box;
    outline: none;
}

header {
    width: 100%;
    height: 30px;
    position: fixed;
    left: 0;
    top: 0;
    background: #6a6264;
    border-bottom: 1px black solid;
    z-index: 1;
}

header img {
    display: inline-block;
    margin-top: -1px;
}

.global-logout {
    color: #ff00009c;
}

#app {
    display: none;
}

#menu-open {
    position: fixed;
    top: 3px;
    right: 5px;
    cursor: pointer;
}

#menu-open div {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 5px 0;
    border-radius: 6px;
}

#menu-close {
    position: fixed;
    top: 3px;
    right: 5px;
    cursor: pointer;
    z-index: 2;
}

#menu-open span, #menu-close span {
    color: white;
    font-size: 1.5rem;
}

#menu {
    position: fixed;
    width: 100%;
    background: #6a6264;
    top: 30px;
    right: 0;
    max-width: 500px;
    z-index: 1;
}

#menu div {
    color: white;
    font-size: 1.3rem;
    padding: 5px;
    border-bottom: 1px black solid;
    cursor: pointer;
}

#menu div:hover, #menu div:focus {
    background: #847C7E;
}

main {
    margin-top: 30px;
    padding: 7px;
}

#menuBackground, #dialogBackground, #videoBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.7;
    z-index: 1;
}

#dialogElement {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    max-width: 600px;
    background: #ededed;
    border: 2px silver solid;
    border-radius: 5px;
    transform: translate(-50%,-50%);
    z-index: 1;
}

#dialogElement > div {
    padding: 10px;
    font-size: 1.3rem;
}

#dialogElement > div.error {
    color: #a70000;
}

#dialogElement > button {
    margin: 10px;
}

#processingBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#processingAnimation, #processingEndAnimation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    z-index: 1;
}

#processingAnimation {
    background: #016b70;
    border-left: 0 #00989f solid;
    border-right: 0 #00989f solid;
    animation: animateProcessing 2s linear infinite alternate;
}

#processingEndAnimation {
    background: green;
    border-left: 0 #00b100 solid;
    opacity: 0;
    animation: animateProcessingEnd 0.5s linear 1;
}

@keyframes animateProcessing {
    0%   {
        border-left-width: 0;
        border-right-width: 0;
    }
    50%  {
        border-left-width: 100vw;
        border-right-width: 0;
    }
    51%  {
        border-left-width: 100vw;
        border-right-width: 100vw;
    }
    52%  {
        border-left-width: 0;
        border-right-width: 100vw;
    }
    100% {
        border-left-width: 0;
        border-right-width: 0;
    }
}

@keyframes animateProcessingEnd {
    0%   {
        border-left-width: 0;
        opacity: 0;
    }
    1%   {
        border-left-width: 0;
        opacity: 1;
    }
    100% {
        border-left-width: 100vw;
        opacity: 1;
    }
}

input[type="text"], input[type="password"] {
    display: block;
    width: 100%;
    max-width: 500px;
    height: 40px;
    margin: 10px 0;
    padding: 5px;
    border: 1px #b0cbff solid;
    border-radius: 10px;
    background: white;
    color: #8a8a8a;
    font-size: 1.5rem;
}

input[type="text"]:hover, input[type="password"]:hover, input[type="text"]:focus, input[type="password"]:focus {
    border: 1px #2196F3 solid;
    color: black;
}

button {
    display: block;
    margin: 10px 0;
    width: 50%;
    max-width: 250px;
    height: 35px;
    background: #2196F3;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
}

body.hover button:hover {
    background: #b0cbff;
    color: black;
}

button.ok {
    width: 50px;
}

button.link {
    display: inline;
    width: auto;
    height: auto;
    background: none;
    color: #2196F3;
    text-decoration: underline;
}

body.hover button.link:hover {
    color: #b0cbff;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkMark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border: 1px #b0cbff solid;
    border-radius: 5px;
}

.container:hover input ~ .checkMark {
    border: 1px #2196F3 solid;
}

.container input:checked ~ .checkMark {
    background-color: #2196F3;
}

.checkMark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkMark:after {
    display: block;
}

.container .checkMark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#videos {
    max-width: 1630px;
    margin-top: 7px;
}

.videoItem {
    display: inline-block;
    width: 100%;
    max-width: 400px;
    height: 116px;
    margin-right: 6px;
    margin-bottom: 3px;
    background: #e3e3e3;
    border-radius: 12px;
    cursor: pointer;
}

body.hover .videoItem:hover {
    background: #ddd;
}

.videoItem-table {
    display: table;
    width: 100%;
}

.videoItem-row {
    display: table-row;
}

.videoItem-cell {
    display: table-cell;
    padding: 5px;
}

.videoItem-cell.text {
    vertical-align: top;
}

.videoItem-cell.thumbnail img {
    width: 80px;
    height: 80px;
}

.videoItem-cell.thumbnail {
    width: 90px;
    padding-bottom: 0;
}

.videoItem-cell.text h3.title {
    margin: 0;
    font-size: 0.9rem;
    max-height: 34px;
    overflow: hidden;
}

.videoItem-cell.text .description {
    max-height: 66px;
    overflow: hidden;
    font-size: 0.8rem;
}

.videoItem .date, .videoItem .duration {
    font-size: 0.7rem;
}

.videoItem .duration {
    position: relative;
    top: -4px;
}

#no-videos {
    position: absolute;
    top: 76px;
    left: 11px;
    z-index: -1;
}

#videoBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.7;
    z-index: 1;
}

#videoElement {
    position: fixed;
    width: 98%;
    max-width: 490px;
    max-height: 98%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

#videoHeadline {
    width: 100%;
    position: relative;
}

#videoTitle {
    display: inline-block;
    width: calc(100% - 20px);
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
}

#shareBtn {
    width: auto;
    height: auto;
    color: white;
    display: inline-block;
    margin: 0;
    background: transparent;
}

#video {
    width: 100%;
}

#videoClose {
    width: 20px;
    height: auto;
    color: white;
    display: inline;
    margin: 0;
    padding: 0;
    background: transparent;
    position: absolute;
    top: 0;
}

#copyTextArea {
    position: fixed;
    top: -1000px;
}

#search-and-filter {
    position: relative;
}

input#search {
    width: calc(100% - 35px);
    max-width: 365px;
    height: 30px;
    margin: 0;
    font-size: 1.4rem;
    display: inline-block;
}

#filter-close, #filter-open, #search-reset, #search-btn {
    display: inline-block;
}

#filter-open, #filter-close {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background: #2196F3;
    color: white;
    position: absolute;
    top: 0;
    margin-left: 5px;
}

#filter-open span, #filter-close span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    line-height: 0;
}

#search-reset {
    position: relative;
    right: 22px;
    top: -2px;
    cursor: pointer;
}

#filter-close.disabled, #filter-open.disabled, #filters button.disabled {
    background: silver;
    color: black;
}

body.hover #filter-close.disabled:hover, body.hover #filter-open.disabled:hover, body.hover #filters button.disabled:hover
{
    background: #cecece;
}

#filters {
    margin-top: 42px;
}

#filters button {
    font-size: 0.9rem;
    width: 110px;
    display: inline-block;
    margin: 0 5px 5px 0;
}

#filters h2, #filters h3 {
    margin-bottom: 0;
}

#insider div {
    margin-bottom: 30px;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

@media (min-width: 700px) {
    .videoItem {
        max-width: 340px;
    }

    input#search {
        max-width: 305px;
    }
}

@media (min-width: 860px) {
    .videoItem {
        max-width: 400px;
    }

    input#search {
        max-width: 360px;
    }
}

@media (min-width: 1060px) {
    .videoItem {
        width: 500px;
        max-width: unset;
        height: 145px;
    }

    .videoItem-cell.thumbnail {
        width: 100px;
    }

    .videoItem-cell.thumbnail img {
        width: 100px;
        height: 100px;
    }

    .videoItem .date, .videoItem .duration {
        font-size: 0.9rem;
    }

    .videoItem-cell.text h3.title {
        font-size: 1.1rem;
        max-height: 42px;
    }

    .videoItem-cell.text .description {
        max-height: 92px;
        font-size: 1rem;
    }

    input#search {
        width: 464px;
        max-width: unset;
    }

    #videoElement {
        max-width: unset;
        width: 700px;
    }

    #videoHeadline {
        font-size: 1.3rem;
    }
}