<!Doctype html>
<html lang="de">
<head>
    <title>Family Moments</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta property="og:title" content="Family Moments">
    <meta property="og:description" content="Weißt du noch, früher?">
    <meta property="og:image" content="/res/img/og.png">
    <meta property="og:image:secure_url" content="/res/img/og.png">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/res/css/general.css">
    <script src="/res/js/config.js"></script>
    <script src="/res/js/vue-core.js"></script>
</head>
<body>
    <div id="app">
        <header>
            <img src="/res/img/logo.png" alt="">
            <div>
                <div id="menu-open" v-if="!menuOpen && loggedIn" @click="menuOpen=true">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div id="menu-close" v-if="menuOpen && loggedIn" @click="menuOpen=false">
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div v-if="menuOpen && loggedIn" id="menu">
                <div>Test-Eintrag 1</div>
                <div>Test-Eintrag 2</div>
                <div>Test-Eintrag 3</div>
            </div>
        </header>
    </div>

    <script src="/res/js/app.js"></script>

    <noscript>Family Moments erfordert JavaScript. Bitte aktiviere JavaScript in deinen Browsereinstellungen.</noscript>
</body>
</html>